<body>
  <div>
    <h1>1ra Banda</h1>
    <table>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">0</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">1</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">2</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">3</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">4</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">5</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">6</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">7</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">8</td>
      </tr>
      <tr class="table-dark">
        <input type="radio" name="" id=""> <td class="table-primary">9</td>
      </tr>
    </table>
  </div>
</body>
